APP_PORT=8080

POSTGRES_DB=chambu
POSTGRES_USER=chambu
POSTGRES_PASSWORD=replace-with-strong-password

JWT_SECRET=replace-with-long-random-secret

# yandex or cloudinary
STORAGE_DRIVER=yandex
YANDEX_DISK_TOKEN=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
